---
import Layout from "../layouts/Layout.astro";

// Components
import Hero from "../components/Hero.astro";
import Block from "../components/Block.astro";
import Icon from "../components/Icon.astro";

// Images
import { Image } from "astro:assets";
import heroimg from "../assets/images/TorTaepaisitphongse.jpeg";
---

<Layout>
    <div class="wrapper stack gap-8 lg:gap-20">
        <header class="hero">
            <Hero
                title="Hey! My name is Tor Taepaisitphongse"
                tagline="I am a student at Carnegie Mellon University studying Information Systems and Statistics & Machine Learning."
                align="start"
            >
                <div class="roles">
                    <Block><Icon icon="code" size="1.33em" /> Developer</Block>
                    <Block
                        ><Icon
                            icon="mlnn"
                            size="1.33em"
                            viewBox="10 40 490 470"
                        />ML Engineer</Block
                    >
                    <Block
                        ><Icon
                            icon="graph"
                            viewBox="0 0 32 32"
                            size="1.33em"
                        />Consultant</Block
                    >
                </div>
            </Hero>
            <Image
                src={heroimg}
                alt="Tor Taepaisitphongse smiling."
                width="1600"
                height="800"
                format="webp"
                quality={100}
            />
        </header>
    </div>
    <body> </body>
</Layout>

<style>
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .roles {
        display: none;
    }

    .hero img {
        aspect-ratio: 5 / 4;
        object-fit: cover;
        object-position: center;
        border-radius: 1.5rem;
    }

    @media (min-width: 50em) {
        .hero {
            display: grid;
            grid-template-columns: 6fr 4fr;
            padding-inline: 2.5rem;
            gap: 3.75rem;
        }

        .roles {
            margin-top: 0.5rem;
            display: flex;
            gap: 0.5rem;
        }

        .hero img {
            aspect-ratio: 3 / 4;
            border-radius: 4.5rem;
            object-fit: cover;
            margin-top: 4rem;
        }
    }
</style>
