---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <header id="header">
        <div class="content">
            <h1>
                <span class="accent">Tor Taepaisitphongse</span>
            </h1>
        </div>
    </header>
</Layout>
