---
export interface Props {
    class?: string;
}

const { class: className = "block" } = Astro.props;
---

<div class={className}>
    <slot />
</div>

<style>
    .block-primary,
    .block {
        display: flex;
        padding: 0.5rem 1rem;
        gap: 0.5rem;
        background-color: var(--black);
        color: var(--white);
        font-size: var(--text-md);
        line-height: 1.35;
        white-space: nowrap;
    }

    .block-primary {
        background: var(--blue);
        color: var(--white);
    }
</style>
